@{
    ViewData["Title"] = "Application";

    // Adding additional styles
    ViewData["AdditionalStyles"] = new List<string> {
        "~/css/home/variables.css",
        "~/css/home/styles.css",
    };

    // Adding additional scripts
    ViewData["AdditionalScripts"] = new List<string> {
        "~/js/home/config.js",
        "~/js/home/redirects.js",
        "~/js/home/start/start-info.js",
        "~/js/home/start/customers-load.js",
        "~/js/home/init/save-variables.js",
        "~/js/home/start/model-update.js",
        "~/js/home/badge/user-auth.js",
        "~/js/home/apply_scan/apply-scan-infos.js",
        "~/js/home/apply_scan/scan-anyway.js",
        "~/js/home/apply_scan/scan-duplicate.js",
        "~/js/home/apply_scan/logs-info.js",
        "~/js/home/work/do-scan.js",
        "~/js/home/apply_scan/apply-scan.js",
        "~/js/home/work/work-container-info.js",
        "~/js/home/work/update-test-results.js",
    };
}

<div class="page">
    <div class="init-container hidden">
        <label for="fas-lines">Линия</label>
        <select id="fas-lines">
            @foreach (var fasLine in ViewBag.FasLines)
            {
                <option id="@fasLine.LineID">@fasLine.LineName</option>
            }
        </select>

        <label for="steps-scan">Шаг</label>
        <select id="steps-scan">
            @foreach (var stepScan in ViewBag.StepsScan)
            {
                <option id="@stepScan.ID">@stepScan.StepName</option>
            }
        </select>

        <div class="checkbox-container">
            <input type="checkbox" id="save-rfid-check" class="custom-checkbox-checkbox">
            <label class="custom-checkbox">
              <span class="custom-checkbox-check" id=""></span> Сохранять RFID пользователей
            </label>    
        </div>
        
        <input id="logout-time" class="hidden" placeholder="Время логаута (сек)" type="text"
               oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">

        <button id="save-init-config">Сохранить</button>
    </div>

    <div class="start-container hidden">
        <div class="start-info">
            <label id="start-info-label" for="line-info">Краткая информация</label>
            <div id="line-info">Линия: <span>Не определено</span></div>
            <div id="step-info">Шаг: <span>Не определено</span></div>
            <div id="model-info">Модель: <span>Не определено</span></div>
            <div id="fas-number-format2">Формат номера: <span>Не определено</span></div>
        </div>

        <label for="customers">Заказчик</label>
        <select id="customers">
            @foreach (var customer in ViewBag.Customers)
            {
                <option id="@customer.ID">@customer.СustomerName</option>
            }
        </select>

        <label for="contract-lots">Лот</label>
        <select id="contract-lots"></select>

        <button id="start-scan">Перейти к сканированию</button>
    </div>

    <div class="work-container hidden">
        <div class="hotkeys-help">
            <div id="hotkey-help">Нажмите <span>[I]</span>, чтобы увидеть информацию о лоте</div>
        </div>

        <div class="scan-anyway-container hidden">
            <div id="scan-anyway-label"><span id="error"></span>, <br>отсканировать в любом случае?</div>
            <button id="scan-anyway-button">Подтвердить</button>
            <button id="scan-anyway-deny-button">Скрыть</button>
        </div>

        <div class="scan-duplicate-container hidden">
            <div id="scan-duplicate-label"><span id="error"></span>, <br>отсканировать в любом случае?</div>
            <button id="scan-duplicate-button">Подтвердить</button>
            <button id="scan-duplicate-deny-button">Скрыть</button>
        </div>

        <div class="test-results-counter-container hidden">
            <label id="test-results-info-label" for="pass-counter-info">Информация о лоте</label>
            <div id="pass-counter-info"><span id="label">Прошло тестирование: </span><span id="value">0</span> шт.</div>
            <div id="fail-counter-info"><span id="label">Не прошло тестирование: </span><span id="value">0</span> шт.</div>
            <div id="duplicates-counter-info"><span id="label">Дубликаты: </span><span id="value">0</span> шт.</div>
        </div>

        <div id="serial-number-label"></div>

        <input id="serial-number" placeholder="Серийный номер" />
        <button id="do-scan">Сканировать</button>
    </div>

    <div class="apply-scan-container hidden">
        <div class="hotkeys-help">
            <div id="hotkey-help">Нажмите <span>[I]</span>, чтобы увидеть прошлое сканирование</div>
            <div id="hotkey-help">Нажмите <span>[L]</span>, чтобы увидеть последние движения</div>
        </div>
        
        <div id="apply-scan-label"></div>

        <div class="apply-scan-info hidden">
            <label id="start-info-label" for="line-info">Прошлое сканирование</label>
            <div id="pcbid-info">PCBID: <span>Не определено</span></div>
            <div id="content-info">Контент: <span>Не определено</span></div>
            <div id="step-name-info">Шаг: <span>Не определено</span></div>
            <div id="result-info">Результат: <span>Не определено</span></div>
            <div id="username-info">Пользователь: <span>Не определено</span></div>
            <div id="step-date-info">Дата: <span>Не определено</span></div>
            <div id="error-code-info">Код ошибки: <span>Не определено</span></div>
        </div>

        <div class="last-logs-container hidden">
            <label id="last-logs-info-label" for="last-logs-info">Последние записанные движения</label>

            <table id="last-logs-info">
            </table>
        </div>

        <div class="apply-fail-scan-container hidden">
            <label id="fail-scan-error-codes-label" for="fail-scan-error-codes">Код ошибки</label>
            <select id="fail-scan-error-codes"></select>
            <button id="apply-fail-scan">Подтвердить</button>
        </div>

        <div class="apply-scan-buttons">
            <button id="pass-scan">PASS</button>
            <button id="fail-scan">FAIL</button>
        </div>

        <button id="back-scan">Назад</button>
    </div>

    <div class="badge-splashscreen hidden">
        <div id="badge-label">Отсканируйте свой бейдж</div>

        <div id="badge-error-label"></div>
        <div class="current-user" style="display: none;"></div>
        
        <input id="badge-number" type="password" placeholder="" />
    </div>
    
    <div class="admin-badge-splashscreen hidden">
        <div id="admin-userid" style="display: none;"></div>
        <div id="admin-username" style="display: none;"></div>

        <div id="admin-badge-label">Отсканируйте бейдж <span>администратора</span></div>
        <div id="admin-badge-error-label"></div>
        <input id="admin-badge-number" type="password" placeholder="" />
    </div>
</div>
